{% include 'contact' %}

{% include 'writing' %}

{% include 'stack' %}

# Fans
{% include 'influence' %}

<div>&nbsp;</div>

# Statistics
<details>
  <summary>Statistics</summary>
  <div>&nbsp;</div>
  <div>
    <p>Repos: {{ public_repos }}</p>
    <p>Followers: {{ follower_count }}</p>
    <p>Stargazers: {{ stargazer_count }}</p>
    <p>Fans: {{ fan_count }}</p>
    <p>Unique Views (week): {{ profile_traffic }}</p>
  </div>
</details>



*Last Updated: {{ generated }}*