<p>Read some of my most recent technical blog posts on <a href="https://dev.to/@j12y">Dev.to</a>, <a href="https://medium.com/@j12y">Medium</a>, and <a href="https://dolby.io/blog/author/jdela/">Dolby.io</a>.</p>
<div id="writing" align="center">
<table width="75%">
<tr>
<td width="25%" valign="top" style="padding-top: 20px; padding-bottom: 20px; padding-left: 30px; padding-right: 30px;">
  <div align="center"><a href="https://dev.to/@j12y" target="_blank"><img src="https://img.shields.io/badge/dev.to-0A0A0A?style=for-the-badge&logo=devdotto&logoColor=white"/></a></div>
  <img src="{{ devto_post.image }}"/>
  <p><b><a href="{{ devto_post.url }}">{{ devto_post.title }}</a></b></p>
  <p>{{ devto_post.snippet | slice: 0,150 }}...</p>
</td>
<td width="25%" valign="top" style="padding-top: 20px; padding-bottom: 20px; padding-left: 30px; padding-right: 30px;">
  <div align="center"><a href="https://medium.com/@j12y" target="_blank"><img src="https://img.shields.io/badge/-Medium-12100E?style=for-the-badge&logo=Medium&logoColor=white"/></a></div>
  <img src="{{ medium_post.image }}"/>
  <p><b><a href="{{ medium_post.url }}">{{ medium_post.title }}</a></b></p>
  <p>{{ medium_post.snippet | slice: 0,150}}...</p>
</td>
<td width="25%" valign="top" style="padding-top: 20px; padding-bottom: 20px; padding-left: 30px; padding-right: 30px;">
  <div align="center"><a href="https://dolby.io/blog/author/jdela/" target="_blank"><img src="https://img.shields.io/badge/Dolby.io-0A0A0A?style=for-the-badge&logo=dolby&logoColor=white"/></a></div>
  <img src="{{ dolbyio_post.image }}"/>
  <p><b><a href="{{ dolbyio_post.url }}">{{ dolbyio_post.title }}</a></b></p>
  <p>{{ dolbyio_post.snippet | slice: 0,150 }}...</p>
</td>
</tr>
</table>
</div>